---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Countdown from '../components/Countdown.astro';
import CoupleDetails from '../components/CoupleDetails.astro';
import EventsTimeline from '../components/EventsTimeline.astro';
import Venue from '../components/Venue.astro';
import Gallery from '../components/Gallery.astro';
import MessageBoard from '../components/MessageBoard.astro';
import Registry from '../components/Registry.astro';
import RSVP from '../components/RSVP.astro';
---

<Layout>
  <main>
    <Hero />
    <Countdown />
    <CoupleDetails />
    <EventsTimeline />
    <Venue />
    <Gallery />
    <MessageBoard />
    <Registry />
    <RSVP />
  </main>
</Layout>
